apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    dependOn: ticket-frontend
  name: ticket-frontend
  labels:
    version: {{ .Chart.AppVersion }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ticket-frontend
  strategy: {}
  template:
    metadata:
      annotations:
        proxy.istio.io/config: |
          holdApplicationUntilProxyStarts: true
        sidecar.istio.io/proxyCPU: "10m"
        sidecar.istio.io/proxyCPULimit: "150m"
        sidecar.istio.io/proxyMemory: "32Mi"
        sidecar.istio.io/proxyMemoryLimit: "2Gi"
        sidecar.istio.io/inject: "true"
        prometheus.io/probe: "true"
      labels:
        app: ticket-frontend
        version: {{ .Chart.AppVersion }}
    spec:
      initContainers:
      - name: wait-for-onezone
        image: "{{ .Values.global.docker.repoHost }}/{{ .Values.image.k8sWaitFor }}"
        imagePullPolicy: IfNotPresent
        args:
          - "pod"
          - "-lapp=ticket-manager"
      containers:
      - name: ticket-frontend
        env:
        - name: TICKET_MANAGER_HOST
          value : http://ticket-manager:8080
        - name: TRACE_SAMPLER_TYPE
          value: "probabilistic"
        - name: TRACE_SAMPLER_PARAM
          value: "1"
        - name: TRACE_ENDPOINT
          value: "http://jaeger-collector.istio-system:14268/api/traces"
        # - name: TRACE_AGENT_HOST
        #   value: ""
        - name: TRACE_REPORTER_LOG_SPANS
          value: "true"
        - name: SERVICE_NAME
          value: ticket-frontend
        - name: TRACE_DSA_EXTENDS
          value: " -Dsa.exporter=jaeger -Dsa.log.level=FINE -Dsa.integration.*.disable=true -Dsa.integration.servlet.enable=true -Dsa.integration.netty.enable=true -Dsa.integration.grpc.enable=true -Dsa.integration.jdbc.enable=true -Dsa.integration.jedis.enable=true -Dsa.integration.lettuce.enable=true -Dsa.integration.redisson.enable=true -Dsa.integration.okhttp.enable=true -Dsa.integration.spring:webmvc.enable=true"
        image: "{{ .Values.global.docker.repoHost }}/{{ .Values.image.ticketFrontend }}"
        imagePullPolicy: Always
        # command: ["/bin/sh", "-c", "java -jar /root/ticket-frontend.jar && tail -f /dev/null"]
        livenessProbe:
          initialDelaySeconds: 30
          periodSeconds: 10
          httpGet:
            path: /actuator/health
            port: 8090
          timeoutSeconds: 3
          failureThreshold: 30
        ports:
        - containerPort: 8090
        readinessProbe:
          initialDelaySeconds: 30
          periodSeconds: 10
          httpGet:
            path: /actuator/health
            port: 8090
          timeoutSeconds: 3
          failureThreshold: 30
        resources:
        {{- if .Values.global.resourceRequest.enabled }}
          limits:
            cpu: 200m
            memory: 680Mi
          requests:
            cpu: 100m
            memory: 256Mi
        {{- end }}
      enableServiceLinks: false
      # imagePullSecrets:
      # - name: codingcorp-registry-cred
---
apiVersion: v1
kind: Service
metadata:
  name: ticket-frontend
  annotations:
    prometheus.io/probe: "true"
spec:
  ports:
  - name: "http-8090"
    port: 8090
    targetPort: 8090
  selector:
    app: ticket-frontend
  type: ClusterIP
status:
  loadBalancer: {}
...