<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<p th:text="'Hello, ' + ${movies} + '!'" />-->

<table cellpadding="0" cellspacing="0">
    <thead>
    <th>电影名称</th>
    <th>图片</th>
    <th>演员</th>
    <th>类型</th>
    <th>简介</th>
    <th>上映时间</th>
    </thead>
    <tbody>
    <tr th:each="movie,index:${movies}" th:style="'background-color:#F2F2F2'">
        <td th:text="${movie['name']}"></td>
        <td>
            <img th:src="${movie['image']}" />
        </td>
        <td th:text="${movie['actors']}"></td>
        <td th:text="${movie['mtype']}"></td>
        <td th:text="${movie['minfo']}"></td>
        <td th:text="${movie['mtime']}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>