# Default values for saas.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# global env
global:
  # resource
  resourceRequest:
    enabled: true
  # istio
  istio:
    sidecar:
      memLimit: "680Mi"
      inject: false

# mariadb setting
mariadb:
  pvcEnabled: false
  # pvc mode : PVC„ÄÅHOSTPATH
  pvcMode: PVC
  selectorNodeName: "none"